<app-pulses [style.visibility]="demo?.demoMergeMap ??  true ? 'visible' : 'hidden'" [pulses]="mergeMapPulses"></app-pulses>
<app-pulses [style.visibility]="demo?.demoSwitchMap ?? false ? 'visible' : 'hidden'" [pulses]="switchMapPulses"></app-pulses>
<app-pulses [style.visibility]="demo?.demoExhaustMap ?? false ? 'visible' : 'hidden'" [pulses]="exhaustMapPulses"></app-pulses>
<app-pulses [style.visibility]="demo?.demoConcatMap ?? false ? 'visible' : 'hidden'" [pulses]="concatMapPulses"></app-pulses>
