<div class="background-dots"></div>
<div class="background-overlay"></div>

<form class="click-form" [formGroup]="clickForm">
    <mat-radio-group formControlName="click">
        <mat-radio-button class="merge-map" value="mergeMap">mergeMap</mat-radio-button>
        <mat-radio-button class="switch-map" value="switchMap">switchMap</mat-radio-button>
        <mat-radio-button class="exhaust-map" value="exhaustMap">exhaustMap</mat-radio-button>
        <mat-radio-button class="concat-map" value="concatMap">concatMap</mat-radio-button>
    </mat-radio-group>
</form>

<div class="text">inner Observables emit a value after 3 "ticks" (~1.5 seconds)</div>

<ng-container [formGroup]="form">
    <div class="checkboxes">
        <mat-checkbox class="merge-map" formControlName="demoMergeMap">mergeMap
        </mat-checkbox>
        <mat-checkbox class="switch-map" formControlName="demoSwitchMap">switchMap
        </mat-checkbox>
        <mat-checkbox class="exhaust-map" formControlName="demoExhaustMap">exhaustMap
        </mat-checkbox>
        <mat-checkbox class="concat-map" formControlName="demoConcatMap">concatMap
        </mat-checkbox>
    </div>

    <div class="demo-wrapper" *ngIf="demo$ | async as demo">
        <app-demo *ngIf="showDemo" [demo]="demo"></app-demo>    
    </div>

</ng-container>

<app-pulses class="global-pulses" [pulses]="pulses"></app-pulses>

<button (click)="pulses = []" mat-raised-button color="primary">Clear</button>